/*-------------------------------FEEDBACK PAGE SPECIFIC STYLE CODES-----------------------------------------*/

#feedback-page_content-container {
    margin-top: 60px;
    text-align: center;
    color: #e7e7ec;
    font-family: 'Outfit', sans-serif;
    display: none;
}

#feedback-page_content-container h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 1px;
    cursor: default;
    user-select: none;
    margin-inline: auto;
}

#feedback-page_content-container h2 {
    margin-inline: auto;
    margin-top: 0;
    width: 650px;
    font-weight: 300;
    font-size: 26px;
    cursor: default;
    user-select: none;
}

#stars-container {
    margin-top: 15px;
    margin-bottom: 70px;
}

.stars {
    margin: 5px;
    fill: #0b113b;
    cursor: pointer;
}

.stars-on-hover {
    fill: #00FFFF;
    filter: drop-shadow(0px 0px 5px #00ffffa5);
}/*-------------------------------FEEDBACK PAGE SPECIFIC STYLE CODES-----------------------------------------*/

#feedback-page_content-container {
    margin-top: 60px;
    text-align: center;
    color: #e7e7ec;
    font-family: 'Outfit', sans-serif;
    display: none;
}

#feedback-page_content-container h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 1px;
    cursor: default;
    user-select: none;
    margin-inline: auto;
}

#feedback-page_content-container h2 {
    margin-inline: auto;
    margin-top: 0;
    width: 650px;
    font-weight: 300;
    font-size: 26px;
    cursor: default;
    user-select: none;
}

#stars-container {
    margin-top: 15px;
    margin-bottom: 70px;
}

.stars {
    margin: 5px;
    fill: #0b113b;
    cursor: pointer;
}

.stars-on-hover {
    fill: #00FFFF;
    filter: drop-shadow(0px 0px 5px #00ffffa5);
}

#comment-input {
    margin-top: 25px;
    padding-bottom: 8px;
    padding-left: 25px;
    width: 65%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid #c33a8e;
    font-size: 18px;
    color: #c33a8e;
}

#more-information-button {
    margin-inline: auto;
    margin-top: 50px;
    width: 220px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    font-weight: 700;
    color: #0b113b;
    background-color: #00FFFF;
}

#more-information-button:hover {
    box-shadow: 0px 0px 20px 5px#00ffffa5;
}

#feedback-page_content-container a {
    text-decoration: none;
}

#comment-input {
    margin-top: 25px;
    padding-bottom: 8px;
    padding-left: 25px;
    width: 65%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid #c33a8e;
    font-size: 18px;
    color: #c33a8e;
}

#more-information-button {
    margin-inline: auto;
    margin-top: 50px;
    width: 220px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    font-weight: 700;
    color: #0b113b;
    background-color: #00FFFF;
}

#more-information-button:hover {
    box-shadow: 0px 0px 20px 5px#00ffffa5;
}

#feedback-page_content-container a {
    text-decoration: none;
}
