@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Outfit:wght@300&display=swap');
    body{
        margin: 0;
        position: relative;
    }
    #main-container{
        position: relative;
        width:1024px;
        height: 768px;
        background-image: url(./assets/bg.jpg);
        color:white;
        margin-inline: auto;
    }

    #logo img{
        display: inline-block;

        width:156px;
        height:auto;
        margin-top: 50px;
        margin-left: 85px;
    }

    h1{
        font-family: 'Outfit', sans-serif;
        color: white;
        font-size: 60px;
        max-width: 40%;
        line-height: 80%;
    }
    span#title{
        font-size: 110%;
        font-weight: bolder;
        text-shadow: 2.5px 0 #ffffff;
    }