#result_page_container {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
    display: none;
    flex-direction: column;
    display: none;
}
#result_page_container{
    height: 100vh;
    width: 100vw;
    line-height: 5vh;
    margin-top: 0;
}

/* the title */
#result_title{
    color: white;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result_title h1 {
    margin: 0;
    font-size: 3em;
}

#result_title p {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 2em;
}


/* main container */

/* general */
#result_display_container {
    display: flex;
    justify-content: space-around;
    height: 30em;
    align-items: center;
}

/* sides */
#correct_answer_container, #wrong_answer_container {
    width: 20%;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#correct_answer_container h2, #wrong_answer_container h2 {
    margin-bottom: 0;
    font-size: 40px;
}

#percentage_of_correct_answers, #percentage_of_wrong_answers {
    font-family: 'Outfit', sans-serif;
    font-size: 45px;
    margin: 0;
    font-weight: bold;
    
}

#number_of_correct_answers, #number_of_wrong_answers {
    font-family: 'Outfit', sans-serif;
    margin-top: 0;
}

/* center */
#notification_for_passing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    width: 18em;
    height: 18em;
    border: 3.75em solid #00FFFF;
    border-right: 3.5em solid (#C2148D 0deg 90deg);
    /* background: conic-gradient(
        #C2148D 0deg 90deg,
        #00FFFF 90deg 360deg
    ); */
    border-radius: 100%;
}


.congratulations_or_condolences {
    margin: 0;
    font-weight: bold;
}

.message_of_success_or_failure {
    color: #00FFFF;
    margin: 0;
    font-weight: bold;
}

.message_what_happens_next {
    font-size: 12px;
    line-height: 16px;
    margin-top: 0;
    width: 40em;
}


/* footer */



#button_to_rating {
    background: none;
    color: white;
    font-size: 1.25em;
    border: 2px solid white;
    cursor: pointer;
    margin: auto;
    z-index: 1;
}

#result_footer {
    display: flex;
    justify-content: center;
    width: 100%;
}


  

 