

body {
    margin: 0px;
    background-color: black;
}

#main-container {
    width: 1024px;
    height: 768px;
    background-image: url(./assets/bg.jpg);
    margin-inline: auto;
}

#logo img {
    display: inline-block;

    width: 156px;
    height: auto;
    margin-top: 50px;
    margin-left: 85px;
}

#result_page_container {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
}

#result_title{
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
}

#result_title h1 {
    margin-bottom: 0;
}

#result_title p {
    margin-top: 0;
}


#correct_answer_container, #wrong_answer_container {
    display: inline-block;
    width: 20%;
    font-family: 'Inter', sans-serif;
    margin: 30px;
}

#correct_answer_container h2 {
    margin-bottom: 0;
    font-size: 40px;
}

#percentage_of_correct_answers, #percentage_of_wrong_answers {
    font-family: 'Outfit', sans-serif;
    font-size: 45px;
    margin: 0;
    font-weight: bold;
}

#number_of_correct_answers {
    font-family: 'Outfit', sans-serif;
    margin-top: 0;
}

#notification_for_passing {
    display: inline-block;
    width: 170px;
    height: 170px;
    border: 45px solid red;
    border-radius: 50%;
    margin-inline: auto;
    margin: 50px auto;
    padding: 30px;
}

.congratulations_or_condolences {
    margin-bottom: 0;
    font-weight: bold;
}

.message_of_success_or_failure {
    color: #00FFFF;
    margin-top: 0;
    font-weight: bold;
}

.message_what_happens_next {
    font-size: 12px;
    line-height: 16px;
    margin-top: 25px;
}


#button_to_rating {
    background: none;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 55px;
    border: 1px solid white;
    cursor: pointer;
}



/*
.result_flex_wrapper {
	display: flex;
	min-height: 100vh;
}

#result_donut {
	margin: auto;
}