#questions-timer {
    position: absolute;
    top: 50px;
    right: 100px;
    width: 60px;
    height: 60px;
    padding: 10px;
    border: 10px solid rgb(108, 189, 192);
    border-radius: 50%;
}

#questions-timer p {
    margin: 0px;
    text-align: center;
}

#seconds {
    font-weight: bold;
    font-size: 8px;
}

#counter {
    font-weight: bold;
    font-size: 35px;
}

#remaining {
    font-size: 7px;
}

#questions-container {
    position: absolute;
    top: 28%;
    right: 10%;
    left: 10%;
    width: auto;
    height: 400px;
    /* border: 2px solid; */
}

#questions {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}

#questions span {
    font-weight: bolder;
}

#questions-part {
    display: none;
}

#answers-container .answers {
    display: inline-block;
    text-align: center;
    width: 345px;
    height: auto;
    margin: 10px 20px 10px 28px;
    border: 2px solid;
    border-radius: 50px;
    cursor: pointer;
    padding: 20px 5px 20px 5px;
}

#questions-count {
    position: absolute;
    right: 44%;
    bottom: 7%;
}

#questions-count span {
    color: rgb(211, 43, 226);
}

.hide {
    display: none;
}

.selected-answer {
    background-color: rgb(161, 41, 141);
}

.donut {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(rgb(31, 30, 30) 0deg 80deg,
            rgb(34, 167, 167) 80deg 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hole {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('./assets/bg.jpg');
}
